.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannerBG {
  background: url("https://ik.imagekit.io/ahsrg6khu/LEAD/bIcon_udbbR7Eu_.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1666092220105");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 90vh;
}
